
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.data-from-api {
    display: inline; /* the default for span */

}
.movie-info {
    margin-top: 500px;

}
.movie-info p{
    color: bisque;

}
.data-from-api a {
    text-decoration: none;
    color: #cbd5e0;
    padding-right: 20px;
    padding-left: 0;


}

.data-from-api h1 {
    text-align: center;
}

.data-from-api a:hover {
    color: #1a202c;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    /*padding: 0 10px;*/
    /*width: 450px;*/
    /*caret-color: red;*/
    /*transition: width 0.4s linear;*/
}

.searchbar:hover > .search_icon {
    /*background: white;*/
    /*color: #e74c3c;*/
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.movies, .movie {
    margin-top: 30px;
}

.movie_card {
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    border: 1px solid rgba(var(--lightGrey), 1);
    background-color: #fff;
    margin: 10px;
}
.movie_card .card-body {
    margin-top: 20px;
    padding: 10px;
}

.movie_card .card-body .item_title {
    margin: 0;
    width: 100%;
    word-wrap: normal;
    overflow-wrap: break-word;
    margin-bottom: 30px;
    font-size: 160%;
    margin-top: 25px;
}

.movie_card .card-body .item_title a {
    font-weight: 700;
    color: #000;
}

.movie_card .card-body .item_release_date {
    position: absolute;
    bottom: 5px;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.6);
}

.movie_card-image {
    width: 100%;
    min-height: 282px;
}

.movie_card-image img {
    max-width: 100%;
    height: 100%;
    display: block;
}

.movie_card .card-body {
    position: relative;
}

.movie_card .card-body .votes_average {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #353b48;
    color: #ffffff;
    position: absolute;
    top: -40px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}

.search_icon {
    border: none;
    background: transparent;
    cursor: pointer;
}

.search_icon:hover {
    background-color: #fff;
    color: #353b48;
}


.movie {
    border-bottom: 1px solid var(--primaryColor);
    background-position: right -200px;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie_poser {
    padding: 30px;
    background-image: linear-gradient(to right, rgba(220.5, 241.5, 241.5, 1) 150px, rgba(220.5, 241.5, 241.5, 0.84) 100%);
}

.movie_img {
    border-width: 0px;
    max-width: 100%;
    width: 300px;
    height: 450px;
    overflow: hidden;
}

.movie_img img {
    max-width: 100%;
    height: 100%;
}

.movie_title {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    font-weight: bold;
}

.movie_desc h3 {
    margin: 20px 0;
    font-weight: 600;
    font-size: 1.3em;
}

