
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #718096;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.data-from-api {
    display: inline; /* the default for span */

}
.movie-info {
    margin-top: 500px;
    background-color: #cbd5e0;

}
.movie-info p{
    color: bisque;

}
.data-from-api a {
    text-decoration: none;
    color: #cbd5e0;
    padding-right: 20px;
    padding-left: 0;


}

.data-from-api h1 {
    text-align: center;
}

.data-from-api a:hover {
    color: #1a202c;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    padding: 0 10px;
    width: 450px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    /*padding: 0 10px;*/
    /*width: 450px;*/
    /*caret-color: red;*/
    /*transition: width 0.4s linear;*/
}

.searchbar:hover > .search_icon {
    /*background: white;*/
    /*color: #e74c3c;*/
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

